@model IEnumerable<HospitalProject.Models.Staff>

@{
    ViewBag.Title = "ListStaff";
}

<div id="containerlist">
    <a href="/Staff/NewStaff" class="btn btn-dblue btn-lg" role="button">
        <span class="glyphicon glyphicon-user glyphsize"></span>
        <br />New
        <span class="glyphicon glyphicon-plus green"></span>
        <br />Staff
    </a>
    <h2>List of Staffs</h2>
    <form action="/Staff/ListStaff" method="GET">
        <input type="text" name="searchKey" autocomplete="off" />
        <input type="submit" value="Search" />
    </form>

    <ul>
        @foreach (var staff in Model)
        {
            <div class="list-group-item row">
                <div class="col-md-12">
                    <a href="/Staff/ShowStaff/@staff.SID">@staff.FName</a>
                </div>
            </div>
        }
    </ul>
</div>
