@model IEnumerable<HospitalProject.Models.Patient>

@{
    ViewBag.Title = "ListPatient";
}

<div id="containerlist">
    <a href="/Patient/NewPatient" class="btn btn-dblue btn-lg" role="button">
        <span class="glyphicon glyphicon-user glyphsize"></span> 
        <br />New 
        <span class="glyphicon glyphicon-plus green"></span>
        <br />Patient
    </a>
    <h2>List of Patients</h2>
    <form action="/Patient/ListPatient" method="GET">
        <input type="text" name="searchKey" autocomplete="off" />
        <input type="submit" value="Search" />
    </form>

    <ul>
        @foreach (var patient in Model)
        {
            <div class="list-group-item row">
                <div class="col-md-12">
                    <a href="/Patient/ShowPatient/@patient.PID">@patient.FName</a>
                </div>
            </div>
        }
    </ul>
</div>