<!-- Bootstrap Icons reference: https://bootsnipp.com/snippets/gjAK5 -->
<div class="row">
    <div class="col-md-12 text-center">
        <!-- Manage Patients-->
        <a href="../Patient/ListPatient" class="btn btn-lg" role="button">
            <span class="glyphicon glyphicon-user glyphsize"></span>
            <br />Manage
            <br />Patients
        </a>

        <!-- Manage Staff-->
        <a href="../Staff/ListStaff" class="btn btn-lg" role="button">
            <span class="glyphicon glyphicon-user glyphsize"></span>
            <br />Manage
            <br />Staff
        </a>

        <!-- Manage Shift Schedule-->
        <a href="#" class="btn  btn-lg" role="button">
            <span class="glyphicon glyphicon-list-alt glyphsize blue"></span>
            <br /><span class="blue">
                Manage
                <br />Shift Schedule
            </span>
        </a>

        <!-- Manage Appointments-->
        <a href="../Appointment/List" class="btn btn-lg" role="button">
            <span class="glyphicon glyphicon-calendar glyphsize"></span>
            <br />Manage
            <br />Appointments
        </a>

        <!-- Manage Users-->
        <a href="#" class="btn btn-lg" role="button">
            <span class="glyphicon glyphicon-user glyphsize"></span>
            <br />Manage
            <br />Users
        </a>

        <!-- Manage Department-->
        <a href="../department/List" class="btn btn-lg" role="button">
            <span class="glyphicon glyphicon-home glyphsize"></span>
            <br />Manage
            <br />Departments
        </a>

        <!-- Logout-->
        <a href="#" class="btn btn-lg" role="button">
            <span class="glyphicon glyphicon-off glyphsize"></span>
            <br />Logout
        </a>
    </div>
</div>
